{>"layout" /}

{<body}
    {#recipes}
        <div class="well">
            <h4>
                {name}
                <button 
                    class="btn btn-default pull-right" 
                    data-toggle="collapse"
                    href="#recipe_{id}"
                >
                    View
                </button>
            </h4>
            <div class="collpase" id="recipe_{id}">
                Test
            </div>
        </div>
    {/recipes}
{/body}